@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v30/qkBIXvYC6trAT55ZBi1ueQVIjQTDH52aE0lMZbLXGhmR.woff)
    format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

progress {
  position: fixed;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100vw;
  height: 1px;
  border: none;
  background: transparent;
  z-index: 99999;
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background: linear-gradient(
    to left,
    #db38b5,
    #fc4236,
    #db38b5,
    #fc4236,
    #db38b5,
    #fc4236
  );
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: linear-gradient(
    to left,
    #fc4236,
    #db38b5,
    #fc4236,
    #db38b5,
    #fc4236,
    #db38b5
  );
  background-attachment: fixed;
}

#progress-top {
  top: 0;
}

#progress-bottom {
  direction: rtl;
  bottom: 0;
}

/* #progress-left {
  width: 101vh;
  height: 1px;
  left: 49.9vh;
  top: 49%;
  transform: rotate(90deg);
}

#progress-right {
  width: 101vh;
  height: 1px;
  left: -49.9vh;
  top: 49%;
  transform: rotate(90deg);
} */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

:root {
  --color-background: #171518;
  --color-text: whitesmoke;
  --color-chill: rgb(75, 0, 125);
  --marquee-font-size: min(max(12px, 2vw), 22px);
  --headline-font-size: min(max(40px, 6vw), 70px);
  --paragraph-font-size: min(max(16px, 4vw), 22px);
  --section-heading-font-size: min(max(30px, 4vw), 50px);
  --duration: 300ms;
  --ease: cubic-bezier(0.33, 1, 0.68, 1);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  font-family: "Inter", sans-serif;
  color: var(--color-text);
  width: 100%;
  transition: background-color var(--duration) var(--ease);
}

.page-content {
  max-width: 90ch;
  padding: 4rem;
  margin: 8rem auto;
}
.page-content * + * {
  margin-top: 2.5rem;
}
.page-content a {
  color: var(--color-chill);
}
.page-content h1 {
  font-size: var(--headline-font-size);
  font-weight: 700;
  line-height: 1.2;
}
.page-content h2 {
  margin-top: 6rem;
  font-size: var(--section-heading-font-size);
  font-weight: 700;
  line-height: 1.2;
}
.page-content em {
  font-style: italic;
}
.page-content p {
  font-size: var(--paragraph-font-size);
  line-height: 1.75;
  letter-spacing: 0.0125rem;
}

.page-content__section {
  transition: opacity var(--duration) var(--ease);
}
.page-content__section h2 {
  transform-origin: 50% 100%;
}

.page-content__section.active {
  opacity: 1;
}
.page-content__section.active h2 {
  -webkit-animation: activate calc(var(--duration) * 2) var(--ease) forwards;
  animation: activate calc(var(--duration) * 2) var(--ease) forwards;
}
@-webkit-keyframes activate {
  25% {
    color: var(--color-chill);
    transform: translateY(-12px);
  }
  40% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-4px);
  }
  60% {
    color: var(--color-text);
    transform: translateY(1px);
  }
  65%,
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes activate {
  25% {
    color: var(--color-chill);
    transform: translateY(-12px);
  }
  40% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-4px);
  }
  60% {
    color: var(--color-text);
    transform: translateY(1px);
  }
  65%,
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (prefers-reduced-motion: reduce) {
  .page-content__section.active h2 {
    -webkit-animation: none;
    animation: none;
  }
}

.marquee-container {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-weight: 700;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  z-index: 1;
}

.marquee {
  position: absolute;
  font-size: var(--marquee-font-size);
  line-height: 1;
  white-space: nowrap;
  letter-spacing: 0.25rem;
  overflow: hidden;
  padding: 2vmin 0;
  min-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--color-background);
  box-shadow: var(--color-background) 0 2vmin 2vmin 1vmin;
  transition: background-color var(--duration) var(--ease),
    box-shadow var(--duration) var(--ease);
}
.marquee--top {
  top: -1px;
}
.marquee--left {
  left: -1px;
  bottom: -6vmin;
  transform: rotate(-0.25turn);
  transform-origin: 0 0;
}
.marquee--right {
  left: calc(100% + 1px);
  top: 0;
  transform: rotate(0.25turn);
  transform-origin: 0 0;
}
.marquee--bottom {
  bottom: -1px;
  right: 0;
  transform: rotate(0.5turn);
}
.marquee div {
  opacity: 1;
  transition: opacity var(--duration) var(--ease);
}
.marquee div.active {
  opacity: 0;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-image {
  height: auto;
  width: 100%;
  border-radius: 25px;
  background: url(paper.gif);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
p {
  text-align: center;
}

.text-center {
  text-align: center;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.card {
  background-color: #171717;
  border-radius: 25px;
  margin-top: 30px;
}

.card p {
  color: black;
  background-color: #00ff37;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-size: 30px;
}

.card img {
  margin-top: -10%;
}

.modal {
  display: none;
}